<!DOCTYPE html>
<html ng-app="nodeAuth">
<head>
    <title>Node auth</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <script src="/javascript/lib/jquery-3.2.1.min.js"></script>
    <script src="/javascript/lib/angular.min.js"></script>
    <script src="/javascript/lib/angular-route.min.js"></script>
    <script src="/javascript/app.js"></script>
</head>
<body>

<div class="container">

    <div class="form-group">
        <div class="row">
            <div class="col-lg-6 text-left">
                <a href="/" class="btn btn-primary"><span class="fa fa-home"></span> Home</a>
            </div>
            <div class="col-lg-6 text-right">
                <a href="/profile" class="btn btn-danger"><span class="fa fa-gear"></span> Local Profile</a>
                <a href="/signin" class="btn btn-success"><span class="fa fa-user"></span> Sign in</a>
            </div>
        </div>
    </div>

    <div ng-view class="view-animate">
    </div>

    <p id="user">{{username}}</p>
    <p id="token" style="word-wrap: break-word;">{{token}}</p>

</div>
</body>
</html>