<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Sing In</h1>

        <form name="signinForm"
              method="post"
              ng-submit="signin(signinForm.$valid)">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email"
                       name="email"
                       type="email"
                       class="form-control"
                       ng-model="form.email"
                       required>
                <div class="alert alert-danger"
                     role="alert"
                     ng-if="signinForm.email.$invalid && formError"
                     ng-messages="signinForm.email.$error">
                    <span ng-message="required" translate-cloak ng-cloak>Required!!</span>
                    <span ng-message="email" translate-cloak ng-cloak>It si not valid email address</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password"
                       name="password"
                       type="password"
                       class="form-control"
                       ng-model="form.password"
                       required>
                <div class="alert alert-danger"
                     ng-if="signinForm.password.$invalid && formError"
                     ng-messages="signinForm.password.$error">
                    <span ng-message="required" translate-cloak ng-cloak>Required!!</span>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>

</div>

